@import "./src/design-tokens/index";

.nav-menu {
  margin: 0;
  padding: 0;
  display: none;

  @include above('tablet') {
    display: flex;
  }

  li {
    a {
      @include use-text-style('navigation');
      @include padding(0.5rem, 1rem, 0.5rem, 1rem);

      color: color('text');
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: color('text');
        text-decoration: underline;
      }
    }
  }
}
