{
  extends: [
    stylelint-config-standard,
  ],  
  rules: {
    number-no-trailing-zeros: null,
    indentation: 2,
    no-empty-source: null,
    value-list-max-empty-lines: 2,
    max-empty-lines: 2,
    color-hex-case: null,
    color-no-hex: null,
    selector-class-pattern: null,
    selector-no-qualifying-type: null,
    selector-max-type: null,
    selector-no-vendor-prefix: null,
    block-no-empty: true,
    string-no-newline: null,
    selector-max-universal: 1,
    at-rule-no-unknown: null,        
    color-no-invalid-hex: null,
    comment-no-empty: true,
    block-closing-brace-newline-before: always-multi-line,
    block-closing-brace-space-before: always-single-line,
    unit-case: lower,
    unit-no-unknown: true,
    rule-empty-line-before: null,
    at-rule-empty-line-before: [
      always,
      {
        except: ['blockless-after-same-name-blockless', 'first-nested'],
        ignore: ['after-comment'],
        ignoreAtRules: ['else'],
      },
    ],
    font-weight-notation: null,
  }
}