/*
 * Import style components for the current template.
 *
 * Write your own styles after imports.
 *
 * Design tokens are required and encapsulated for each template.
 * Import it from the design-tokens folder.
 */

// Design tokens
@import "./src/design-tokens/index";

.form-holder {
  max-width: size('26rem');
  margin: auto;

  @include above('tablet-large') {
    margin: 10rem auto;
  }
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.input-group {
  margin-bottom: size('gutter');
}


input[type=email],
input[type=password],
input[type=tel],
input[type=text] {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0.12rem;
  border: 1px solid color('light-grey');
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  height: 2.875rem;
  padding: 0 0.8125rem;
  width: 100%;
  font-weight: 300;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus {
  outline: none;
  border-color: color('secondary');
}

.button {
  width: 100%;
}

.label-hidden {
  display: none;
}
