{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="cover">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cover-text">
          <h1 class="cover-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
            Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <div class="btn-holder">
            <a href="javascript:void(0);" class="btn btn-primary">Button Primary</a>
            <a href="javascript:void(0);" class="btn btn-secondary">Button Secondary</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="cover-image">
          <img width="300" src="{{ 'hero.png' | asset_url }}" alt="Hero">
        </div>
      </div>
    </div>
  </div>
</section>