.announcement {
  @include padding(0.8rem, null, 0.8rem, null);

  color: white;
  background-color: color('primary');
  text-align: center;
  font-size: size(0.7rem);

  @include above('tablet-large') {
    font-size: size(1rem);
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
