.btn,
button,
input[type="button"] {
  @include use-text-style('buttons');
  @include padding(0.75rem, 1.2rem, 0.75rem, 1.2rem);

  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: color('button');

  &:hover {
    color: white;
    background-color: color('button-hover');
  }
}

.btn-secondary {
  color: white;
  background-color: color('button-secondary');

  &:hover {
    color: white;
    background-color: color('button-secondary-hover');
  }
}

.btn-default {
  color: white;
  background-color: color('grey');

  &:hover {
    color: white;
  }
}
