.form-group {
  margin-bottom: size('gutter');
}

label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: color('text');
  background-color: white;
  background-clip: padding-box;
  border: 1px solid color('light-grey');
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: 0.2px;
  height: 2.875rem;
  font-weight: 300;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Placeholder
  &::placeholder {
    color: color('grey');
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: color('light-grey');
    opacity: 1;
  }

  &.bottom-border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    &:focus {
      color: color('grey');
      outline: none;
      border-bottom: 1px solid color('grey');
    }
  }
}
