@import 'header-login';
@import 'navigation';
@import 'mobile-navigation';
@import 'header-search';

.site-header {
  @include padding(1rem, null, 1rem, null);

  background-color: white;

  .row {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.template-index {
  .site-header {
    position: absolute;
    width: 100%;
  }
}
