*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  background-color: color('white');
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: auto;
}

body {
  @include use-text-style('body');

  color: color('text');

  &.nav-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
  @include use-text-style('heading');
  @include margin(null, null, size('small'), null);
}

h1 {
  @include use-text-style('heading-1');
}

h2 {
  @include use-text-style('heading-2');
}

h3 {
  @include use-text-style('heading-3');
}

h4 {
  @include use-text-style('heading-4');
}

p {
  @include use-text-style('paragraph');
  @include margin(0, null, size('text'), null);
}

ol,
ul,
dl {
  @include margin(null, null, size('text'), null);
  @include padding(null, null, null, size('medium'));
  li {
    @include use-text-style('paragraph');
  }
}

a {
  color: color('link');
  text-decoration: underline;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover {
    color: color('link-hover');
  }
}

table {
  width: 100%;
  max-width: 100%;

  th,
  td {
    @include padding(size('gutter'), size('gutter'), size('gutter'), size('gutter'));

    border: 1px solid color('light-grey');
    vertical-align: top;
  }
}
