// Link to source
/// @link https://www.oddbird.net/accoutrement/docs/color.html

// *** Color palette *** //

$colors: (
  // Set explicit colors
  'grey': #DFE3E8,
  'blue': #006FBB,
  'orange': #F49342,
  'red': #DE3618,
  'green': #50B83C,
  //Lighter
  'light-grey': #DFE3E8,
  'light-blue': #B4E1FA,
  'light-orange': #FFC58B,
  'light-red': #DE3618,
  'light-green': #50B83C,
  //Darker
  'dark-grey': #454F5B,
  'dark-blue': #084E8A,
  'dark-orange': #C05717,
  'dark-red': #BF0711,
  'dark-green': #108043
);

// Use color names that define the purpose of the color.
// Example: primary or highlight or light-background
$primary-colors: (
  'primary': '#blue',
  'primary-100': '#light-blue',
  'primary-200': '#dark-blue',
);

$secondary-colors: (
  'secondary': '#orange',
  'secondary-100': '#light-orange',
  'secondary-200': '#dark-orange',
);

$text-colors: (
  'text': '#dark-grey',
  'link': '#primary',
  'link-hover': '#primary-100'
);

$button-colors: (
  'button': '#primary',
  'button-hover': '#primary-100',
  'button-secondary': '#secondary',
  'button-secondary-hover': '#secondary-100',
  'button-disable': '#grey'
);

// Merge everything into the main $colors map…
@include add-colors(
  $colors,
  $primary-colors,
  $secondary-colors,
  $text-colors,
  $button-colors
);

// Example of usage
// .example {
//   color: color('grey');
//   background-color: color('light-grey');
// }
