
// **** Helper Mixins Collection  **** //


// Quick Padding & Margins
//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
// Usage definition (use `null` do not fill out)
// @include padding(top, right, bottom, left);
// @include margin(5px, 5px, 5px, 5px);

// Quick Border
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}
// Usage definition (use `null` do not fill out)
// @include border(top, 1px, solid, color('primary'));

// Quick Flexbox
@mixin flex($direction: null, $align-items: null, $justify-content: null, $flex-wrap: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}
// Usage definition (use `null` do not fill out)
// @include flex(row, center, space-between, wrap);
