<h4>Enter Store Password</h4>
{% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <div class="password">
    <label for="password">Password : </label>
    <input type="text" name="password">
  </div>

  <div class="submit">
    <input type="submit" class="btn" value="Sign in">
  </div>
{% endform %}

<style>
  body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font: 100% / normal sans-serif;
  }
  
  main {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
  }
  
  form {
    box-sizing: border-box;
    padding: 60px;
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
  }
  
  input {
    padding: 6px;
    margin-left: 10px;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius:4px;
  }
  .btn {
   background : hsl(95, 100%, 30%);
   padding: 6px 8px;
   color: #fff;
   min-width: 140px;
  }
  .errors {
   width: 100%;
   margin-bottom: 10px;
   color: red;
   font-size: 12px;
  }

</style>