/*
 * Import style components for the current template.
 *
 * Write your own styles after imports.
 *
 * Design tokens are required and encapsulated for each template.
 * Import it from the design-tokens folder.
 */

// Design tokens
@import "./src/design-tokens/index";

.product-holder {
  padding-top: 4rem;
  display: grid;
  display: -ms-grid;

  @include grid-columns(size('gutter'), 1fr 1fr);
  @include grid-rows(size('gutter'), auto);
  @include grid-autoflow((autoflow: row, columns: 2, rows: 1, gap: both));

  @include below('tablet') {
    @include grid-columns(size('gutter'), 1fr);
    @include grid-autoflow((autoflow: row, columns: 1, rows: 1, gap: both));
  }
}

.product-photo {
  width: 100%;
}

.product-description {
  padding-left: 2rem;

  h1 {
    font-weight: 200;
  }

  .type,
  .vendor {
    @include margin(null, null, 0.5rem, null);

    font-size: 0.9rem;
    span {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

  .description {
    @include margin(1rem, null, 1rem, null);
  }

  .label {
    font-weight: 500;
  }

  .form-control {
    max-width: 350px;
  }

  .btn-primary {
    width: 200px;
    line-height: 2;
  }
}

// Plus-Minus Component
.number-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 1px solid color('light-grey');
  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    text-align: center;
    width: 50%;
    height: 30px;
  }
  input[type="button"] {
    padding: 0;
    width: 25%;
    height: 30px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
