<div class="search-window">  
  <div class="search-holder">
    <a href="javascript:void(0);" id="closeSearchWindow" class="close-search-window"><span></span></a>
    <h5>What are you looking for?</h5>
    <div class="search-group">
      <input class="form-control bottom-border" type="text" placeholder="Search..." aria-label="Search">
      <div class="input-group-append">
        {% include 'icon-search-header' %}
      </div>
    </div>
  </div>
</div>